/* This css file is for styling Home.js file*/

* { /*Both margin and padding of the js file which import this css file are 0. */
  margin: 0;
  padding: 0;
} 

.Home { /* texts are aligned in center */
  text-align: center;
}

.Home-logo {
  height: 20vmin; /* minimum height of the layout is 20% viewpoint */
  pointer-events: none; /*The element is never the target of pointer events */
  display: block; /* Displays an element as a block element. It starts on a new line, and takes up the whole width */
  margin-left: auto; /* left side a share of the remaining space. */
  margin-right: auto; /* right side a share of the remaining space. */
  width: 50%; /* Defines the width as 50 percent of the containing block */
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo { /* The logo spins */
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #5d85d6; /* Background color is blue */
  min-height: 100vh; /* minimum height of the layout is 100% viewpoint */
  display: flex; /*  This use flexbox module */
  flex-direction: column; /* The flexible items are displayed vertically, as a column */
  align-items: center; /* the items are aligned in center */
  justify-content: center; /* Pack items around the center */
  font-size: calc(10px + 2vmin); /* define font size by calculating */
  color: white; /* color of the text is white*/
}

.Home-link {
  color: #ebf0f1; /* color of the text is white*/
}

@keyframes App-logo-spin { /* define the angle of the rogo's rotation */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
